#wp-scif-select {
  margin-bottom: 1em;
}

.cols {
  border-bottom: 1px solid #ddd;
  clear: both;
  float: left;
  margin-bottom: 1em;
  width: 100%;
}

.col-left,
.col-right {
  float: left;
}

.col-left {
  padding-right: 1em;
}

.shortcode-desc {
  margin-bottom: 1em;
  margin-top: 0;
}

.wp-scif-field-wrapper {
  display: block;
  margin-bottom: 1em;

  .field-label {
    display: block;
    font-weight: 700;
  }

  .field-desc {
    color: #737373;
    margin: 0;
  }
}

.shortcode-desc,
.shortcode-editor,
.error-message {
  display: none;

  &.active {
    display: block;
  }
}

#scif-form-body {
  background-color: #fcfcfc;
}

#shortcode-editors,
#scif-preview-window {
  background-color: #fff;
  height: 350px;
}

#shortcode-editors {
  overflow-y: scroll;
  width: 50%;
}

#scif-preview-window {
  border-left: 1px solid #ddd;
  box-sizing: border-box;
  padding-left: 1em;
  position: relative;
  width: calc(50% - 1em - 1px);

  .field-label {
    display: block;
  }
}

#scif-loading {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

#scif-preview-iframe {
  height: 80%;
  margin-top: 1em;
}
